src/binaries/firmware/repo/
src/binaries/trezord-go/repo/
docker/Dockerfile-debian
docker/compose.yml
.git
.dockerignore
.gitignore
.vscode
**/__pycache__
**/.mypy_cache
**/.pytest_cache
.venv
venv
src/dashboard/node_modules
src/dashboard/dist
