.DS_Store
.idea
src/binaries/firmware/repo
src/binaries/trezord-go/repo
__pycache__
src/binaries/firmware/bin/*
!src/binaries/firmware/bin/download.sh
!src/binaries/firmware/bin/download_latest_gh.py
!src/binaries/trezord-go/bin/download.sh
emulator.img
.vscode
.mypy_cache
docker/version.txt
logs/debugging.log
logs/emulator_bridge.log
logs/screens
