@font-face {
    font-family: "TT Satoshi";
    src: url("../fonts/TTSatoshi-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Satoshi";
    src: url("../fonts/TTSatoshi-DemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "TT Satoshi";
}

html,
body {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    font-family: "TT Satoshi";
}

.sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    flex: 1 1 100%;
    box-sizing: border-box;
    padding: 22px;
    margin: 24px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}

@media (min-width: 1025px) {
    /* Adjust 600px to the breakpoint you desire */
    section {
        flex: 1 1 47%; /* Two sections per row on larger screens */
    }
}

input {
    margin: 6px;
    padding: 12px;
    border-radius: 8px;
    border: solid 1px;
    border-color: rgb(131, 130, 130);
}
select,
input[type="submit"] {
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    min-width: 170px;
    margin: 0px 6px 14px 0px;
    padding: 8px 12px;
    font-weight: 500;
}

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100%;
    background-repeat: no-repeat;
    padding: 12px;
    border-radius: 8px;
    font-size: medium;
}

input[type="checkbox"] {
    margin: 6px;
}

button {
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    min-width: 100px;
    display: inline-block;
    font-size: large;
    border-radius: 50px;
    margin: 8px;
    cursor: pointer;
    background-color: #27789b;
    font-family: "TT Satoshi";
}

.positive {
    background-color: #0f6148;
}

.negative {
    background-color: #b43c3c;
}

.wipe-yes-no {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    min-width: 170px;
    margin: 8px;
    font-weight: 500;
}

textarea {
    width: 100%;
    min-height: 62px;
    margin: 8px;
}

h3 {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 10px;
}

hr {
    margin: 10px 0px;
}

#ws-status {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#ws-status div {
    background-color: white;
    padding: 20px;
}

.explain-note {
    font-size: 13px;
    font-style: italic;
}

.underlined {
    text-decoration: underline #000 dotted;
    text-underline-offset: 3px;
}

.user-info {
    font-weight: bold;
    color: red;
    font-size: 32px;
}

/* POPUP */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.popup-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border-radius: 20px;
    text-align: center;
    overflow-y: auto;
}

.whole-page-margins {
    width: 95%;
    height: 95%;
}

.half-page-margins {
    width: 50%;
}

.close-button {
    position: absolute;
    top: -30px;
    right: 0px;
    font-size: 100px;
    cursor: pointer;
    font-weight: bold;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.red-border {
    border: 15px solid red;
}

.green-border {
    border: 15px solid green;
}

.waiting-for-response {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: green;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}
