services:
  trezor-user-env-unix:
    container_name: trezor-user-env.unix
    image: ghcr.io/trezor/trezor-user-env
    network_mode: "host"
    environment:
      - DISPLAY=$DISPLAY
      # NOTE: it is possible to combine docker container and hardware device,
      # but only for Linux, and only if the Trezor bridge is running locally.
      # Second option of running with HW device is running the whole `tenv` locally.
      - PHYSICAL_TREZOR=$PHYSICAL_TREZOR
    volumes:
      - ./../trezor-suite:/trezor-user-env/trezor-suite
      - ./../logs/screens:/trezor-user-env/logs/screens
      - ./../src/binaries/firmware/bin/user_downloaded:/trezor-user-env/src/binaries/firmware/bin/user_downloaded

  trezor-user-env-mac:
    container_name: trezor-user-env.mac
    build:
      context: ../.
      dockerfile: ./docker/Dockerfile-debian
    ports:
      - "9001:9001"
      - "9002:9002"
      - "21326:21326"
      - "127.0.0.1:21325:21326" # macos needs proxy to override the "origin" of the trezord request
    environment:
      - DISPLAY=docker.for.mac.host.internal:0
      - REGTEST_RPC_URL=http://host.docker.internal:18021
    volumes:
      - ./../trezor-suite:/trezor-user-env/trezor-suite
      - ./../logs/screens:/trezor-user-env/logs/screens
      - ./../src/binaries/firmware/bin/user_downloaded:/trezor-user-env/src/binaries/firmware/bin/user_downloaded

  trezor-user-env-regtest:
    container_name: trezor-user-env-regtest
    image: ghcr.io/trezor/trezor-user-env-regtest
    ports:
      - "19021:19021" # internal blockbook port
      - "19121:19121" # public blockbook port for website dashboard
      - "18021:18021" # bitcoin-d rpc port
